html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main-width: 600px;
  --first-bg-color: rgb(99, 89, 240);
  --second-bg-color: rgb(13, 145, 37);
}

.wrapper {
  width: 250px;
  height: 550px;
  background-color: rgb(217, 219, 235);
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  transition:all 0.2s ease;
  padding: 15px;
}

.wrapper:hover{
  box-shadow: 0 5px 10px rgba(0,0,0,0.8);
}

.wrapper img {
  transition-duration: 0.2s;
  
}
.name,
.about,
.wrapper > img{
  margin: 0 0 20px 0;
}
.name{
  color: var(--first-bg-color);
  font-weight: bold;
}

.name:hover {
  transform: scale(1.15);
}

.name:hover {
transition-duration: 0.3s;
color:var(--second-bg-color);
}

.wrapper > img:hover{
  transform: rotateZ(5deg);
}

.btn-like {
  border: none;
  height: 30px;
  width: 60px;
  color: #ffffff;
  background-color: var(--first-bg-color);
  cursor: pointer;
  border-radius: 8px;
}

.btn-like:hover {
  transition-duration: 0.3s;
  width: 100%;
  background-color: var(--second-bg-color);
  text-transform: uppercase;
}
