.wrapper {
  width: 470px;
}

.list {
  list-style: none;
  padding: 0;
}

.item {
  color: #0e1116;
}
.list li:nth-child(3n + 1) {
  background: #88292f;
}
.list li:nth-child(3n + 2) {
  background: #5db7de;
}
.list li:nth-child(3n + 3) {
  background: #0d5d56;
}