body {
  font-family: "Playfair Display", serif;
  color: rgb(98, 98, 98);
  font-size: 0px;
}

.header {
  width: 900px;
  margin: 0 auto;
}
.menu-list {
  padding: 70px 70px 100px 70px;
  font-size: 14px;
  list-style: none;
  margin: 0;
  text-align: center;
}

.menu-item {
  text-align: center;
  display: inline-block;
}

.link1 {
  margin-right: 120px;
}

.link2 {
  margin-right: 105px;
}

.link3 {
  margin-right: 95px;
}

.menu-list a {
  display: block;
  line-height: 24px;
  color: rgb(98, 98, 98);
  text-decoration: none;
  text-transform: uppercase;
}

a.menu-link:hover {
  color: rgb(23, 206, 45);
  text-decoration: underline;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

.articles-list {
  margin: 0;
  padding: 0;
}
.articles-item:nth-of-type(even) {
  padding-right: 0px;
}
.articles-item:nth-last-of-type(-n + 2) {
  padding-bottom: 40px;
}
.articles-item {
  display: inline-block;
  vertical-align: top;
  width: 420px;
  height: 480px;
  padding-bottom: 130px;
  padding-right: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.articles-item img {
  padding-bottom: 25px;
}

.title {
  font-size: 14px;
  line-height: 17px;
  font-family: "Ubuntu", sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(194, 194, 186);
  margin: 0 auto;
  padding-bottom: 15px;
  width: 100%;
}

h2 {
  font-size: 30px;
  line-height: 38px;
  font-weight: lighter;
  margin: 0 auto;
  padding-bottom: 20px;
  width: 100%;
}

.text {
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  margin: 0 auto;
}

button {
  display: block;
  width: 165px;
  height: 60px;
  color: rgb(98, 98, 98);
  background-color: white;
  margin: 0 auto;
  font-size: 20px;
  line-height: 24px;
  border: solid rgb(98, 98, 98) 1px;
  cursor: pointer;
}

.load-more{
  margin-bottom: 70px;
}

button:hover {
  transform: scale(1.1);
}
