@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

.list {
  font-family: "Playfair Display";
  text-align: center;
}

.item {
  display: inline;
  margin-right: 20px;
}

.link{
  font-size: 28px;
  text-decoration: none;
}

a:hover {
  background-color: rgb(235, 199, 41);
}
