@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

.list {
  width: 1170px;
  font-family: "Playfair Display";
  margin: auto;
  padding: 0;
  text-align: center;
}

.item {
  display: inline-block;
  margin: 0px 15px;
}

.link {
  font-size: 28px;
  text-decoration: none;
}

a:hover {
  background-color: rgb(235, 199, 41);
}
