html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --color-white: rgb(255, 255, 255);
  --color-tomato: rgb(243, 129, 129);
  --color-yellow: rgb(252, 227, 138);
  --color-turquoice: rgb(149, 225, 211);
  --color-darkgrey: rgb(51, 51, 51);
  --color-grey: rgb(153, 153, 153);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* BANNER */

.banner {
  min-height: 1000px;
  margin-bottom: 38px;
  background: linear-gradient(
      to top,
      rgba(252, 227, 138, 0.9),
      rgba(243, 129, 129, 0.9)
    ),
    url(../img/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  color: var(--color-white);
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.nav {
  min-height: 52px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 170px;
}

.site-logo {
  display: block;
  color: var(--color-white);
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: var(--color-white);
}

.nav__icon {
  transition: fill 0.4s linear;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--color-yellow);
}

.nav__link {
  transition: color 0.4s linear;
}

.nav__link:hover .nav__icon,
.nav__link:focus .nav__icon {
  fill: var(--color-yellow);
}

.nav__link--underline {
  position: relative;
}

.nav__link--underline::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--color-yellow);
  content: "";
  /* margin-top: 10px; */
  opacity: 0;
  transform: translateY(-5px);

}

.nav__item:hover .nav__link--underline::after,
.nav__item:focus .nav__link--underline::after {
  opacity: 1;
  transform: translateY(10px);
}

/* .nav__item--underline:hover .nav__link--underline::after,
.nav__item--underline:focus .nav__link--underline::after {
  opacity: 1;
  transform: translateY(10px);
} */

.nav__link--underline::after {
  transition: transform 0.3s linear, opacity 0.4s linear;
}

.nav__item:not(:nth-last-child(-n + 2)) {
  margin-right: 54px;
}

.nav__item:nth-last-child(2) {
  margin-right: 40px;
}

.nav__link {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-white);
}

.main{
  margin-bottom: 40px;
}

.section__over-title {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  line-height: 28px;
  color: var(--color-darkgrey);
  margin: 0 auto;
  text-align: center;
  margin-bottom: 14px;
}

.section__over-title--banner {
  font-size: 72px;
  color: var(--color-white);
  line-height: 1;
  margin: 0 auto;
  margin-bottom: 36px;
}

.section__title {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-darkgrey);
  margin: 0 auto;
}

.section__title--banner {
  font-size: 150px;
  line-height: 1;
  color: var(--color-white);
  margin-bottom: 96px;
}

.section__title::after {
  display: block;
  content: "";
  width: 60px;
  height: 3px;
  background-color: var(--color-tomato);
  margin: 0 auto;
  margin-top: 36px;
}

.section__title--banner::after {
  display: none;
}

.learn-more {
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  background: transparent;
  border: 3px solid var(--color-white);
  font-weight: 700;
  font-size: 14px;
  color: var(--color-white);
  width: 158px;
  height: 38px;
  cursor: pointer;
}

/* SERVICES */
.services {
  margin-bottom: 82px;
}

.section__title--services {
  margin-bottom: 62px;
}

.services__item {
  position: relative;
  padding-left: 80px;
  width: 380px;
}

.services__list .services__item:not(:nth-child(3n)) {
  margin-right: 20px;
}

.services__list .services__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 92px;
}
.services__work {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--color-darkgrey);
  padding: 0;
  margin: 0 0 15px 0;
}

.services__about-work {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: var(--color-grey);
  padding: 0;
  margin: 0;
}

.services__item::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.services__item--photography::before {
  background-image: url(../img/icons/service/alarm.svg);
}

.services__item--web-design::before {
  background-image: url(../img/icons/service/line_graph.svg);
}

.services__item--creativity::before {
  background-image: url(../img/icons/service/computer.svg);
}

.services__item--seo::before {
  background-image: url(../img/icons/service/book.svg);
}

.services__item--css-html::before {
  background-image: url(../img/icons/service/home.svg);
}

.services__item--digital::before {
  background-image: url(../img/icons/service/image.svg);
}

/*OUR TEAM  */

.team {
  margin: 0 auto;
}

.team__about {
  max-width: 980px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: var(--color-grey);
  padding: 0;
  margin: 0 auto;
  margin-bottom: 90px;
  text-align: center;
}

.team__list {
  margin-bottom: 78px;
}

.team__item {
  position: relative;
  transition: transform 0.3s linear, box-shadow 0.3s linear;
}

.team__list .team__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.team__list .team__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.card__image-background {
  width: 100%;
  height: 470px;
  margin-bottom: 26px;
  background: var(--color-turquoice);
}

.card__image-conteiner {
  width: 100%;
  height: 100%;
  transition: transform 0.3s linear;
}

.card__image-conteiner:hover {
  transform: translate(-10px, -10px);
}

.card__overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0px;
  width: 380px;
  height: 470px;
  border: none;
  background: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.9),
    rgba(243, 129, 129, 0.9)
  );
  opacity: 0;
  transition: opacity 0.3s linear, transform 0.3s linear;
}
.card__image-conteiner:hover .card__overlay,
.card__image-conteiner:focus .card__overlay {
  opacity: 1;
}

.card__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-color: var(--color-yellow);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: background-color 0.3s linear;
}

.card__item:hover,
.card__item:hover {
  background-color: var(--color-tomato);
}

.card__socials .card__item:not(:nth-last-child(-n + 1)) {
  border-right: 1px solid var(--color-tomato);
}

.card__socials .card__item:not(:nth-last-child(-n + 5)) {
  margin-bottom: 5px;
}

.card__socials .card__item:nth-child(6n) {
  border-right: none;
}

.card__icon {
  width: 26px;
  height: 26px;
  fill: var(--color-tomato);
  transition: fill 0.3s linear;
}

.card__item:hover .card__icon {
  fill: var(--color-white);
}

.card__name {
  font-size: 14px;
  font-family: "Montserrat";
  color: var(--color-darkgrey);
  text-transform: uppercase;
  line-height: 16px;
  text-align: center;
  margin: 0 0 8px 0;
}

.card__pos {
  font-size: 15px;
  font-family: "Roboto";
  color: var(--color-grey);
  font-style: italic;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

/* FOOTER */

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(231, 231, 231);
  min-height: 62px;
  font-family: "Montserrat", sans-serif;
}

.copy {
  color: var(--color-darkgrey);
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

.copy__link {
  color: var(--color-tomato);
  text-decoration: none;
}

.subscribe {
  display: flex;
}

.subscribe__input {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  line-height: 24px;
  border: 1px solid rgb(231, 231, 231);
  color: rgb(204, 204, 204);
  border-right: none;
  min-width: 232px;
  height: 42px;
  margin: 0;
  padding: 0 0 0 12px;
  vertical-align: middle;
}

.subscribe__button {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  border: none;
  height: 42px;
  min-width: 150px;
  background-color: var(--color-turquoice);
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.subscribe__button:hover {
  transform: scale(1.2);
  transition-duration: 0.2s;
}
