
.list {
  width: 700px;
  /* height: 30px; */
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: auto;
}


.item {
  float: left;
  margin: 0px 15px;
}

.link {
  display: block;
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  font-size: 28px;
} 

a.link:hover {
  color: rgb(235, 199, 41);
  background: rgb(39, 112, 230);
}
