.url-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin: 0 auto;
}

.url-item {
  display: block;
  text-align: center;
  padding: 8px;
  margin-bottom: 16px;
  min-width: 250px;
  max-width: 334px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);

  &__text {
    font-size: 14px;
    margin-bottom: 6px;
    overflow: hidden;
  }

  &__img {
    height: 40px;
    width: auto;
    margin-bottom: 6px;
  }
}