body {
}
.wrapper {
  /* width: 1000px; */
  /* font-size: 0; */
}
.list {
  margin: 0 auto;
  counter-reset: count-item;
}

.item {
  float: left;
  list-style: none;
  counter-increment: count-item;
  background: #5db7de;
  margin: 0 25px 25px 0;
  width: 200px;
  height: 200px;
  text-align: center;
}

.item:before {
  content: counter(count-item, upper-roman);
}

.text-box {
display: inline-block;
  width: 160px;
  height: 160px;
  margin: 0 auto;
  background: blue;
  text-align: center;
  vertical-align: middle;
}

.text {
  display: inline-block;
  /* display: table-cell; */
  margin: 0 auto;
  


}
